body {
  visibility: hidden !important;
}

body.firstLoaded {
  visibility: visible !important;
}

.overlay {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 9999;
  margin: 0;
  padding: 0;
}